<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzg.mapper.WorkerMapper">
  <resultMap id="BaseResultMap" type="com.zzg.entity.Worker">
    <id column="WorkerID" jdbcType="VARCHAR" property="workerid" />
    <result column="WorkerName" jdbcType="VARCHAR" property="workername" />
    <result column="WorkerSex" jdbcType="VARCHAR" property="workersex" />
    <result column="WorkerIDNumber" jdbcType="VARCHAR" property="workeridnumber" />
    <result column="WorkerPosition" jdbcType="VARCHAR" property="workerposition" />
    <result column="WorkerPassword" jdbcType="VARCHAR" property="workerpassword" />
  </resultMap>
</mapper>